<div class="data_test">
    <p>테스트</p>
    <form action="/data_test">
        <input type="text">
        <input type="text">
        <button type="submit" id="data_btn">테스트</button>
    </form>
</div>