<div class="wrap" id="drag_type_2">
    <p>여기는 drag_type_2 페이지</p>
    <div class="canvers_con">
        <canvas id="draw_065_01" class="draw position-absolute" data-role="drawing" data-lineWidth="4" data-strokeStyle="#0000ff" width="620" height="307" style="top: 0;left: 0"></canvas>
    </div>
    <div class="canvers_type_2">
        <canvas id="drawing"></canvas>
    </div>
</div>