
<div class="wrap">
	<h2 class="title">{{name}}</h2>
	<div class="drop_con">
			<div class="drop_jon">
			</div>
	</div>
	<div class="drag_con">
		<div class="drag_item drag_type_1">1</div>
		<div class="drag_item drag_type_2">2</div>
		<div class="drag_item drag_type_3">3</div>
		<div class="drag_item drag_type_4">4</div>
	</div>
</div>
<div class="json_con">
	{{#each data}}
		<p>{{this}}</p>
	{{/each}}
</div>